.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.logo {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.App-header {
  background-color: #222;
  height: 100px;
  /* padding: 20px; */
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
}

.imgCard {
  height: 600px;
  max-width: auto;
  overflow: hidden;
}
h3 {
  text-align: center;
}

img {
  height: 900px;
  width: 100%;
}
.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}
.table-head {
  background-color: #d2d2d2;
  font-weight: bold;
}

.card TouristCard {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.restaurant-order row {
  background-color: red;
}

tr {
  color: #899797;
}
.tableHeading {
  background-color: rgb(29, 23, 23);
  color: white;
}

.results {
  padding-top: 15px;
}

.restaurant-order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.orders {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  height: 50px;
  padding: 20px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
